/* @CHARSET "UTF-8"; */
/* 헤더 다음 버튼*/
#nextbtn{
	padding-bottom:2px;
	margin-top:7px;
	margin-left:10%;
	width:70px;
	height:30px;
	font-size:15px;
	font-family: 'Nanum Gothic';
	color:white;
	font-weight:600;
	background-color:#2995F7;
	border:2px solid #2995F7;
	border-radius:7px;
}

 							/* trytravel label */
/* first label dojeoniljeong*/
body .tryhead{
	text-align:center;
	background-color:#2995F7;
	color:white;
	font-size:30px;
	height:auto;
}

/* second label best3*/
body .bestthree{
	margin-bottom:7px;
	text-align:center;
	border: 2px solid #2995F7;
	heigth:auto;
	color:#2995F7;
	font-size:30px;
}

/* */
body .dojeonlist{
	margin-top:7px;
	margin-bottom:7px;
	text-align:center;
	border: 2px solid #2995F7;
	color:#2995F7;
	font-size:30px;
}



.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}