<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="recommand">

<select id="recommandUserId" parameterType="hashMap" resultType="java.lang.String">
	SELECT likespot_name
	from likespot
	WHERE user_id =#{userId}
</select>


<insert id="plusLike" parameterType="hashMap">

		INSERT INTO recommandregionlike
		VALUES(#{user_id},#{sc_num})
		
</insert>
	
<delete id="minusLike" parameterType="hashMap">

		DELETE FROM recommandregionlike
		WHERE user_id = #{user_id} AND sc_num = #{sc_num}
		
</delete>


</mapper>