<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="recommand">

<select id="recommandUserId" parameterType="hashMap" resultType="java.lang.String">
	SELECT likespot_name
	from likespot
	WHERE user_id =#{userId}
</select>


<insert id="plusLike" parameterType="hashMap">

		INSERT INTO likespot(LIKESPOT_NUM, USER_ID, LIKESPOT_NAME,likespot_reason)
		VALUES(seq_LIKESPOT.nextval,#{userId},#{contentid},'false')
		
</insert>
	
<delete id="minusLike" parameterType="hashMap">

		DELETE FROM likespot
		WHERE USER_ID = #{userId} AND LIKESPOT_NAME = #{contentid}
		
</delete>

<select id="findLikeSpot" parameterType="hashMap" resultType="java.lang.String">
SELECT LIKESPOT_NUM FROM likespot
WHERE USER_ID = #{userId} AND LIKESPOT_NAME = #{contentid}
</select>

<select id="findList" resultType="java.lang.String">
SELECT LIKESPOT_NAME
FROM likespot
WHERE USER_ID = 'doohee94'

</select>

</mapper>