
html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: auto;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/* 화면 이탈 방지 */
*, html, body
	{
	margin: 0;
	padding: 0;
	}
/* p tag	 */
p{
	font-size: 25px;
	
}
/* 버튼 폰트	 */
.delete{
	font-size: 18px;
}
/*로고 처리*/
.logobox{
    padding-left: 19.27%;
}
.moblie_logo{
	display: none;	
}
/*메뉴 a태그*/
.navbar-right>li>a{
	font-size: 14px; 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#searchBtn{
	background-color: #fafafa; 
	border:0px; 
	border-style: none; 
	height: 27px; 
	width: 30px; 
	font-size: 15px; 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; 
	color:#2e2e2e"
}
.navbar-right{
	margin-right: 10%;
}
.navbar-brand{
	font-family: 맑은고딕;
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 1366px){
	.moblie_logo{
	display: block;	
	}
	.navbar-right{
	display: none;
	}
	.logobox{
	display: none;
	}
}
