<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="registReview">

	<insert id="insertReview" parameterType="TotalreDTO">
		INSERT INTO totalre
		VALUES(seq_totalre.nextval,#{userId},#{scNum},#{totalreTitle},#{totalreContent},#{totalrePhoto4},#{totalrePhoto4fake},#{totalrePhoto3},#{totalrePhoto3fake},#{totalrePhoto2},#{totalrePhoto2fake},#{totalrePhoto1},#{totalrePhoto1fake},#{totalreLikecount})
	</insert>
</mapper>