<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<select id="listspot" parameterType="hashMap" resultType="likespotDTO">
		SELECT *
		FROM likespot 
		WHERE user_id = #{userId}
	</select>

	<select id="findimg" parameterType="hashMap" resultType="likescDTO">
		SELECT totalre_photo1fake, totalre_title, totalre_likecount 
		FROM TOTALRE
		WHERE sc_num =#{scNum}
	</select>
	<select id="findqnanum"  parameterType="hashMap" resultType="integer">
		SELECT *
		FROM ( 	SELECT rownum as qnaed_num
				FROM qna
				WHERE user_id = #{userId}
				ORDER BY rownum DESC)
		WHERE rownum = 1
	</select>
	<select id="textQna" parameterType="hashMap"  resultType="qnaDTO">
		SELECT *
		FROM qna
		WHERE user_id = #{userId}
	</select>
	<select id="listqna" parameterType="hashMap" resultType="qnaDTO">
		SELECT *
		FROM (	SELECT *
				FROM qna
				WHERE user_id =#{userId} 
				ORDER BY qna_date DESC)
		WHERE rownum BETWEEN 1 and #{pageNum}		
	</select>
	<select id="qnumber" resultType="String">
		SELECT seq_qna.nextval as num
		FROM dual
	</select>
	<select id="liststemp" parameterType="hashMap" resultType="tm.mypage.dto.StempDTO">
		SELECT partner_name,partner_addr, parstemp_num
		FROM parstemp 
		where parstemp_num IN(SELECT parstemp_num FROM stemp WHERE user_id =#{userId})
		ORDER BY parstemp_num
	</select>
	<select id="tempstemp" parameterType="hashMap" resultType="tm.mypage.dto.StempDTO">
		SELECT partner_name, partner_addr, parstemp_num
		FROM parstemp 
		where parstemp_num NOT IN(SELECT parstemp_num FROM stemp WHERE user_id =#{userId})
		ORDER BY parstemp_num
	</select>
	<insert id="inputqna" parameterType="hashMap">
		INSERT 
		INTO QNA (QNA_NUM, USER_ID, QNA_DATE, QNA_TYPE, QNA_CONTENT) 
		VALUES (#{qnaNum}, #{userId}, SYSDATE, #{qnaType}, #{qnaContent})
	</insert>
	<delete id="deletespot" parameterType="hashMap">
		DELETE
		FROM likespot
		WHERE likespot_num =#{likespotNum}
	</delete>
	<delete id="deleteschedule" parameterType="hashMap">
		DELETE
		FROM likesc	
		WHERE likesc_num =#{likescNum}
	</delete>
	
	<select id="selectLike" parameterType="hashMap" resultType="String">
		SELECT sc_num
		FROM reviewlike
		WHERE user_id=#{userId}
	</select>
	
	<select id="selectReview" parameterType="hashMap" resultType="TotalreDTO">
		SELECT *
		FROM totalre
		WHERE sc_num = #{scNum}
	</select>
</mapper>