<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypage">
	<select id="listspot" parameterType="hashMap" resultType="likespotDTO">
		SELECT *
		FROM likespot 
		WHERE user_id = #{userId}
	</select>
	<delete id="deletespot" parameterType="hashMap">
		DELETE
		FROM likespot
		<where>
		likespot_num =#{likespotNum}
		</where>
	</delete>
	<select id="listsc" parameterType="hashMap" resultType="likescDTO">
		SELECT *
		FROM likesc
		WHERE user_id =#{userId}
	</select>
	<select id="findimg" parameterType="hashMap" resultType="likescDTO">
		SELECT totalre_photo1fake, totalre_title, totalre_likecount 
		FROM TOTALRE
		WHERE sc_num =#{scNum}
	</select>
</mapper>