

#reviewSearchContent{
	width: 250px;
	height: 30px;
	font-size: 0.5em;
}
/*검색 div*/
#div_search{
display: inline-block;
float: right;
}
/*검색버튼*/
#reviewpagesearchBtn{
	height: 30px;
	background-color: #fff;
	font-size: 0.5em;
}
/*화면 크기가 줄어들 경우 서치하는 애들 바꾸기*/
@media(max-width:768px){	
/*검색 div */
	.div_search{
		float: ;	
	}		
}