/*카테고리 버튼*/
.category{
	
	background-color: #fcfcfc;
	
	
}

.slider{
	
	height: 100%;
	width: 100%;
	
}


.img-responsive{
	width: 100%;
}
.list-image{
	
	width: 750px;
	height: 500px;
}

.sTitle{
	
	font-size:1em;
	font:bold;
}

.bTitle{
	
	font-size:0.7em;
	font:bold;
}

.weather_text{
	
	font-size: 1.5em;
	color : #000;
	
}

.weather_text{
	
	font-size: 1.2em;
	color : #000;
	
}