<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totalre">

	<select id="showReviewDetail" parameterType="hashMap" resultType="TotalreDTO">
		SELECT *
		FROM totalre
		<where>
		<if test="scnum != null">
		sc_num = #{scnum}
		</if>
		</where>
	</select>
	
	<select id="checkLike" parameterType="hashMap" resultType="Integer">
		SELECT count(*)
		FROM reviewlike
		WHERE sc_num = #{sc_num} AND user_id = #{user_id}
	</select>
	
	<select id="reviewList" parameterType="hashMap" resultType="TotalreDTO">
		SELECT *
		FROM totalre
		<where>
		<if test="searchContent != null">
		TOTALRE_TITLE LIKE '%'|| #{searchContent}||'%' OR TOTALRE_CONTENT LIKE '%'|| #{searchContent}||'%'
		</if>
		</where>
	</select>
	
	<insert id="insertReview" parameterType="TotalreDTO">
      INSERT INTO totalre
      VALUES(seq_totalre.nextval,#{userId},#{scNum},#{totalreTitle},#{totalreContent},#{totalrePhoto4},#{totalrePhoto4fake},#{totalrePhoto3},#{totalrePhoto3fake},#{totalrePhoto2},#{totalrePhoto2fake},#{totalrePhoto1},#{totalrePhoto1fake},#{totalreLikecount})
   </insert>
   
   <insert id="insertHashtag" parameterType="TotalreDTO">
      INSERT INTO hashtag
      VALUES(#{scNum},#{hashtag})
   </insert>
   
   <insert id="insertReply" parameterType="reviewReplyDTO">
   	INSERT INTO reviewreply
   	VALUES(seq_reviewreply.nextval,#{userId},#{scNum},#{writeDate},#{reply})
   </insert>
   
   <select id="showReply" parameterType="hashMap" resultType="reviewReplyDTO">
   	SELECT *
   	FROM reviewreply
   	WHERE sc_num = #{scNum}
   </select>
</mapper>