/* 헤더 css */
/* 로고 */
body #wrapper .navbar .navbar-header .tmlogo{
	font-family: 맑은고딕;
 	font-weight: bold;
 	font-size: 2.35em;
 	padding-left: 383px;
}
/** 다른 페이지 이동 링크*/
body #wrapper .navbar .navbar-right li a{
	font-family: 맑은고딕;
 	font-weight: bold;
	font-size: 1.4em;
}


*, html, body
	{
	margin: 0;
	padding: 0;
	}
    .center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
p{
	font-size: 25px;
	
}

/* 버튼*/
button.css3button {
	font-family: 맑은 고딕;
	font-size: 25px;
	font-weight : bold;
	color: #9d9d9d;
	padding: 15px 30px;
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#000000),
		to(#000000));
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 0px solid #ffffff;
}


.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
.modal-body{
	height: 350px;
}
.question{
border-style: solid;
border-width: 3px;
border-color : white;
border-radius: 15px;
background-color: lightyellow;
}
    
.q_head{
background-color: #7889fa;
}
#q_title{
color: white;
height: 40px;
padding-top: 4px;
padding-left: 3px;
}

#writer{
font-size: 15px;
}

.answer{
border-style: solid;
border-width: 3px;
border-color : white;
border-radius: 15px;
background-color: lightyellow;
}

.a_head{
background-color: #fa787a;
}
#a_title{
color: white;
height: 40px;
padding-top: 4px;
padding-right: 5px;
}
.qna-content{
padding-right: 20px;
padding-left: 20px;
}

#btn-question{
margin-left: 60%;
}

#r_title{
color: white;
height: 40px;
padding-top: 4px;
padding-right: 5px;
}
.r_head{
background-color: #b3fe74;
}
