<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="step1">
	<select id="step1list" parameterType="hashMap" resultType="memberDTO">
        SELECT user_id, user_nick
		from member
		WHERE user_id =#{userId}
	</select>

</mapper>