<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="step1">
	<select id="step1list" parameterType="hashMap" resultType="step1DTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT * 
            		FROM member
            		<where>
            			<if test="sel != null">
							${sel} like '%'||#{con}||'%'
						</if>
            		</where>
            		order by user_id desc) g)
		<where>
			<if test="id != null">
				user_id = #{id}
			</if>
			<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
		</where>
	</select>

</mapper>