	footer {
	 width 100%;
	 height 10%;
	 background-color: #0089bf;
	 padding: 25px 25px 10px 25px;
	}
	footer p {
	color: white;
	font-size: 28px;
	font-weight: bold;
	}
	footer a {
	color : white;
	font-size: 22px;
	}
