@CHARSET "UTF-8";
/* 화면이동시 로딩화면  */
#loading {
 width: 100%;   
 height: 100%;   
 top: 0px;
 left: 0px;
 position: fixed;   
 display: block;   
 opacity: 0.7;   
 background-color: #fff;   
 z-index: 99;   
 text-align: center; }  

#loading-image {   
 position: absolute;   
 top: 40%;   
 left: 40%;  
 z-index: 100; } 

/*  달력 주말 색상지정  */

.ui-datepicker-calendar > tbody td:first-child a { 
    COLOR: #f00; 
}

.ui-datepicker-calendar > tbody td:last-child a { 
    COLOR: blue; 
}
/* 달력 년월 배경 색상 */
.ui-datepicker-title{
	background-color:white;
}
/* 달력 이전 다음 버튼 색상 */
.ui-datepicker-prev{
background-color:white;
}
.ui-datepicker-next{
 background-color:white;
}


/** four div */
.container .fourrow{
	margin-top:10px;
}

.container .fourrow button{
	width:120px; height:49px;
	background-color:#2995F7;
	font-family: 'Nanum Gothic';
}

.container .fourrow .fellowpeople{
	width:1015px; height:50px;
	font-size:14px; text-align:center;
	border:2px solid #dedede;
}

/** threerow div*/

.container .threerow{
	margin-bottom:40px;
	
}

.container .threerow .lbtitle{
	text-align:center;
	font-size:25px;
	color:white;
	margin-top:5px;
	margin-bottom:2px;
	background-color:#222222;
}

.container .threerow .traveltitle{
	width:1140px; height:45px;
	border:2px solid #dedede;
	font-size:16px;
	text-align:center;
}

.container .threerow button{
	width:10%;
	margin-bottom:4px;
}

/** date div */

.container #datediv{
	margin-top:40px;
	margin-bottom:30px;
}


/** top next button */
#nextbtn{
	padding-bottom:2px;
	margin-top:7px;
	margin-left:10%;
	width:70px;
	height:30px;
	font-size:15px;
	font-family: 'Nanum Gothic';
	color:white;
	font-weight:600;
	background-color:#2995F7;
	border:2px solid #2995F7;
	border-radius:7px;
}


/** tab font css */
#container{
	margin-top:65px;
}
.container .contnsubform ul li a{
	font-size:18px;
	font-weight:600;
}

										/** path list css */
.container .pathoutput{
	margin-top:20px;
	margin-bottom:20px;
}
										
.container .reset{
	width:120px;
	height:48px;
	background-color:#2995F7;
	border:1px solid #2995F7;
	border-radius:7px;
	color:white;
	font-weight:600;
	font-size:15px;
	font-family: 'Nanum Gothic';
	
}

.container .liststart{
	border:2px solid #dedede;
	width:200px; height:50px;
	text-align:center;
}

.container .listthrough{
	border:2px solid #dedede;
	width:608px; height:50px;
	text-align:center;
}

.container .listarrival{
	border:2px solid #dedede;
	width:200px; height:50px;
	text-align:center;
}
 
									/**  modal search width  */
									
.container #myModal .modal-dialog .modal-content .modal-body .form-control{
	width:100%;

}

.container #myModal .modal-dialog .modal-content .modal-body{
	overflow-x:hidden;
	overflow-y:scroll;
	height:300px;
}

.input-group-addon{
	background:#2995F7;
	font:#ffffff;
}

.input-group-addon{
	background:#2995F7;
	font:#ffffff;
}
					/** popup  id search*/

/** footer (close btn form)*/
.container #myModal .modal-dialog .modal-content .modal-footer{
	margin-top:5%; background-color: #2995F7;
}

.container #myModal .modal-dialog .modal-content .modal-footer #ftokbtn{
	background-color:white; color: #2995F7;
}

.container #myModal .modal-dialog .modal-content .modal-footer #ftrsbtn{
	background-color:white; color: #2995F7;
	height:34px;
	border-radius:4px;
	border:1px solid #2995F7;
}




/** id searched form */
.container #myModal .modal-dialog .modal-content .modal-body .col-md-13	{
	width:100%; 
	margin-top:10px;
}

/** id searched output list -> textarea */
.container #myModal .modal-dialog .modal-content .modal-body .idlistfrm .idlist{
	width:30%;
	border:1px solid #dedede;
	margin-left:5px; margin-right:5px;
}

.container #myModal .modal-dialog .modal-content .modal-body .idlistfrm .nicklist{
	width:30%;
	border:1px solid #dedede;
	margin-left:5px;
}


/** id choiced btn o button */
.container #myModal .modal-dialog .modal-content .modal-body .col-md-13 #okbtn{
	background-color: #2995F7;	color: white;
	border:1px solid #2995F7;
	width:5%;
	margin-bottom:3px;
}

bcontainer #myModal .modal-dialog .modal-content .modal-body .col-md-13 #idlist{
	margin-bottom:3px;
}


/* 모달 바디 bottom modal bottom */

.container #myModal .modal-dialog .modal-content .modal-body-bottom ul{
	list-style:none; margin:0 0 0 10px; padding:0;
}

.container #myModal .modal-dialog .modal-content .modal-body-bottom ul li{
	margin: 0 0 0 0; padding: 0 0 0 0; border: 0; float:left;
}