@CHARSET "UTF-8";

/** 다음 버튼  */
.contnsubform #container .prevnextbtn center .nextbtnstep2{
	padding-bottom:2px;
	margin-top:7px;
	margin-left:2%;
	width:70px;
	height:30px;
	font-size:15px;
	font-family: 'Nanum Gothic'serif;
	color:white;
	font-weight:600;
	background-color:#103e68;
	border:none;
	border-radius:7px;
}

/** 메인 버튼 */
.contnsubform #container .prevnextbtn center .nextbtnmain{
	padding-bottom:2px;
	margin-top:7px;
	margin-left:2%;
	width:70px;
	height:30px;
	font-size:15px;
	font-family: 'Nanum Gothic'serif;
	color:white;
	font-weight:600;
	background-color:#103e68;
	border:none;
	border-radius:7px;
}

/** 출발지, 경유지, 도착지 탭 */
.contnsubform #container{
	margin-top:55px;
}
.contnsubform .container ul li a{
	font-size:18px;
	font-weight:600;
}

/** 경로 타이틀 */
body .contnsubform #container .col-lg-12 #titlediv{
	margin-top:40px;
}

/** path list css */
.contnsubform .container .pathoutput{
	margin-top:20px;
	margin-bottom:20px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
										
.contnsubform .container .pathoutput .reset{
	width:120px;
	height:50px;
	background-color:#103e68;
	border:1px solid #103e68;
	border-radius:3px;
	color:white;
	font-family: 'Nanum Gothic';
	font-size:15px;
}
	
/** 가로 줄 (공간 구분용)*/
body hr{
	margin-top:5px;
	margin-bottom:5px;
	border:0.7px solid #dedede;
}

/** 화면이동시 로딩화면-1  */
body #loading {
 width: 100%;   
 height: 100%;   
 top: 0px;
 left: 0px;
 position: fixed;   
 display: block;   
 opacity: 0.7;   
 background-color: #fff;   
 z-index: 99;   
 text-align: center; 
}  
/** 화면이동시 로딩화면-2  */
body #loading #loading-image {   
 position: absolute;   
 top: 40%;   
 left: 40%;  
 z-index: 100; 
} 

/**  달력 주말 색상지정  */
.ui-datepicker-calendar > tbody td:first-child a { 
    COLOR: #f00; 
}
.ui-datepicker-calendar > tbody td:last-child a { 
    COLOR: blue; 
}

/* 달력 년월 배경 색상 */
.ui-datepicker-title{
	background-color:white;
}

/* 달력 이전 다음 버튼 색상 */
.ui-datepicker-prev{
background-color:white;
}
.ui-datepicker-next{
 background-color:white;
}

/** 동행자 버튼 및 선택한 동행자 출력 장소 */
.contnsubform #secondcontainer .fourrow{
	margin-top:10px;
}

/** 동행자 버튼 */
.contnsubform #secondcontainer .fourrow button{
	width:120px; height:50px;
	background-color:#103e68;
	border:1px solid #103e68;
	font-family: 'Nanum Gothic';
	font-size: 20px;
	padding : 2px 0 7px 0;
	border-radius:3px;
}

/** 선택한 동행자 출력 장소  */
.contnsubform #secondcontainer .fourrow .fellowpeople{
	width:1015px; height:50px;
	font-size:16px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
	border:2px solid #dedede;
}

/** 일정 제목 장소 */
.contnsubform #secondcontainer .threerow{
	margin-bottom:40px;
}

/** 일정제목 입력 공간 */
.contnsubform #secondcontainer .threerow .traveltitle{
	width:1140px; height:50px;
	border:2px solid #dedede;
	font-size:16px; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
}

/** */
/* .contnsubform #secondcontainer .threerow button{ */
/* 	width:10%; */
/* 	margin-bottom:4px; */
/* } */

/** 날짜 공간 */
.contnsubform #secondcontainer #datediv{
	margin-top:40px;
	margin-bottom:30px;
}

/** 출발지, 경유지, 도착지 탭의 버튼의 그룹(행을 기준으로 그룹) */
.contnsubform .container .pathoutput .liststart{
	border:2px solid #dedede;
	width:180px; height:50px;
	text-align:center;
	font-size:16px;
}

.contnsubform .container .pathoutput .listthrough{
	border:2px solid #dedede;
	width:628px; height:50px;
	text-align:center;
	font-size:16px;
}

.contnsubform .container .pathoutput .listarrival{
	border:2px solid #dedede;
	width:200px; height:50px;
	text-align:center;
	font-size:16px;
}
 
 
/**  modal 출발날짜, 도착날짜 입력창 및 동행자 아이디 검색창 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body .form-control{
	width:100%;

}

/** modal 팝업 바디(동행자 아이디 검색 및 출력공간) */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body{
	overflow-x:hidden;
	overflow-y:scroll;
	height:300px;
}

/** 출발날짜, 도착날짜 라벨*/
.input-group-addon{
	background:#2995F7;
	font:#ffffff;
}

.input-group-addon{
	background:#2995F7;
	font:#ffffff;
}

/** popup  id search*/
/** modal footer 공간 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-footer{
	margin-top:5%; background-color: #2995F7;
}

/** modal footer 완료 버튼 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-footer #ftokbtn{
	background-color:white; color: #2995F7;
}

/** modal footer 목록 초기화 버튼 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-footer #ftrsbtn{
	background-color:white; color: #2995F7;
	height:34px;
	border-radius:4px;
	border:1px solid #2995F7;
}

/** modal 검색한 아이디가 출력되는 장소 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body .col-md-13	{
	width:100%; 
	margin-top:10px;
}

/** 검색한 아이디가 출력되는 형식의  */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body .idlistfrm .idlist{
	width:155.3px; height:28px;
	border:1px solid #dedede;
	text-align:center; font-size:16px;
	margin-left:10px; margin-right:10px;
	
}

/** 검색한 아이디에 해당하는 닉네임이 출력되는 형식 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body .idlistfrm .nicklist{
	width:155.3px; height:28px;
	border:1px solid #dedede;
	text-align:center; font-size:16px;
	margin-left:10px; margin-right:3px;
}


/** 검색한 아이디 오른쪽에 있는 o 버튼 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body .col-md-13 .okbtn{
	background-color: #2995F7;	color: white;
	border:1px solid #2995F7;
	width:27.55px; height:28px;
	margin-bottom:3px;
}

/** 검색한 아이디를 선택한 다음 취소 시키기 위한 x 버튼 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body-bottom .mbbul .cancelbtn{
	background-color: white;	color: red;
	border:1px solid white;
	width:22px; height:20px;
	font-size:12px;
	font-weight:bold;
	margin-bottom:3px;
}

/** modal 검색한 아이디를 출력해주는 장소와 검색한 아이디의 o버튼을 누른 아이디가 출력되는 공간을 구분해주는 선 */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body-bottom ul{
	list-style:none; margin:0 0 0 10px; padding:0;
}

/** modal 선택된 아이디의 css */
.contnsubform #secondcontainer #myModal .modal-dialog .modal-content .modal-body-bottom .mbbul .mbulli{
	margin-top:5px;
	margin-right:13px;
	padding: 0 0 0 0;
	border: 0; 
	float:left;
}