<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">

	<!-- count -->

	<select id="cnt" parameterType="hashMap" resultType="java.lang.Integer">
		SELECT count(*) as cnt
		FROM ${table}
		<where>
			<if test="sel != null">
				${sel} like '%'||#{con}||'%'
			</if>
		</where>
	</select>
	
	
	<select id="adcnt" parameterType="hashMap" resultType="java.lang.Integer">
		SELECT count(*)
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT  
                  s.ad_num,
                  s.partner_num,
                  s.ad_title,
                  s.ad_photo,
                  s.ad_photofake,
                  s.ad_check,
                  s.ad_stdate,
                  s.ad_eddate,
                  p.partner_reginum,
                  p.partner_comname,
                  p.partner_ceoname 
                  FROM advertisement s, partner p
                  WHERE s.partner_num = p.partner_num
                  ORDER BY s.ad_num desc) g)
        <where>
	        <if test="sel != null">
	       		${sel} like '%'||#{con}||'%'
	        </if>
        </where>
	</select>
	
	
	<select id="stempcnt" parameterType="hashMap" resultType="java.lang.Integer">
		SELECT count(*)
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT s.parstemp_num, 
      		  				p.partner_num, 
      		  				s.partner_name, 
      		  				s.partner_addr, 
      		  				p.partner_ceoname,
      		  				p.partner_reginum, 
      		  				p.partner_comname, 
      		  				p.partner_tel
                  FROM parstemp s, partner p
                  WHERE s.partner_num = p.partner_num
                  ORDER BY s.parstemp_num desc) g)
        <where>
         <if test="partnerName != null">
         	partner_name like '%'||#{partnerName}||'%'
         </if>
        </where>
	</select>
	
	<select id="cntparlist"  resultType="java.lang.Integer">
		SELECT count(*) as cnt
		FROM partner
		WHERE partner_state = 20
		<if test="partnerComname != null">
			AND partner_comname like '%'||#{partnerComname}||'%'
		</if>
	</select>
	
	<select id="cntparrec"  resultType="java.lang.Integer">
		SELECT count(*) as cnt
		FROM partner
		WHERE partner_state = 10
		<if test="partnerComname != null">
			AND partner_comname like '%'||#{partnerComname}||'%'
		</if>
	</select>
	
	<select id="cntad" parameterType="hashMap" resultType="java.lang.Integer">
		SELECT count(*) as cnt
		FROM advertisement
		WHERE partner_num = #{partnernum}
	</select>
	
	<select id="stempcntall" parameterType="hashMap" resultType="java.lang.Integer">
		SELECT count(*)
		FROM stemp
		WHERE parstemp_num = #{parstempNum}
	</select>
	
	
	
	<!-- Member -->
	
	<select id="memberlist" parameterType="hashMap" resultType="adminMemberDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT * 
            		FROM member
            		<where>
            			<if test="sel != null">
							${sel} like '%'||#{con}||'%'
						</if>
            		</where>
            		order by user_id desc) g)
		<where>
			<if test="id != null">
				user_id = #{id}
			</if>
			<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
		</where>
	</select>
	
	
	<!-- QNA -->
	
	
	<select id="qnalist" parameterType="hashMap" resultType="tm.admin.dto.AdminQnaDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT * 
            		FROM qna  
            		order by rownum desc) g)
		WHERE rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
	</select>
	
	<update id="reply" parameterType="tm.admin.dto.AdminQnaDTO">
		UPDATE QNA 
		SET qna_reply = #{qnaReply}
		WHERE qna_num = #{qnaNum}
	</update>
	
	
	<!-- advertisement  -->
	
	
	<select id="adlist" parameterType="hashMap" resultType="tm.admin.dto.AdminadDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT  
                  s.ad_num,
                  s.partner_num,
                  s.ad_title,
                  s.ad_photo,
                  s.ad_photofake,
                  s.ad_check,
                  s.ad_stdate,
                  s.ad_eddate,
                  p.partner_reginum,
                  p.partner_comname,
                  p.partner_ceoname 
                  FROM advertisement s, partner p
                  WHERE s.partner_num = p.partner_num
                  <if test="partnerComname != null">
				  	AND partner_comname like '%'||#{partnerComname}||'%'
				  </if>
                  ORDER BY s.ad_num desc) g)
       	<where>
       		<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
			<if test="adnum != null">
				ad_num = #{adnum}
			</if>
       	</where>
	</select>
	
	<insert id="adinsert" parameterType="tm.admin.dto.AdminadDTO">
		INSERT INTO advertisement
		(ad_num,   
		partner_num,
		ad_title,
		ad_photo,
		ad_photofake,
		ad_check,
		ad_stdate,
		ad_eddate)
		VALUES (
		#{adNum},
		#{partnerNum},
		#{adTitle},
		#{adPhoto},
		#{adPhotofake},
		0,
		#{adStdate},
		#{adEddate}
		)
	</insert>
	
	<delete id="addelete" parameterType="hashMap">
		DELETE FROM advertisement
		WHERE ad_num=#{adnum}
	</delete>
	
	<delete id="advedelete" parameterType="hashMap">
		DELETE FROM advertisement
		WHERE partner_num=#{partnernum}
	</delete>
	
	<update id="adupdate" parameterType="tm.admin.dto.AdminadDTO">
		UPDATE advertisement
		SET
		partner_num = #{partnerNum},
		ad_title = #{adTitle},
		<if test="adPhoto != null">
			ad_photo = #{adPhoto},
			ad_photofake = #{adPhotofake},
		</if>
		ad_stdate = #{adStdate},
		ad_eddate = #{adEddate}
		WHERE
		ad_num = #{adNum}		
	</update>
	
	<update id="adcheck" parameterType="hashMap">
		UPDATE advertisement
		SET ad_check = #{state}
		WHERE ad_num = #{num}
	</update>
	
	
	<!-- Stemp -->
	
	<select id="stemplist" resultType="tm.admin.dto.AdminStempDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT s.parstemp_num, 
      		  				p.partner_num, 
      		  				s.partner_name, 
      		  				s.partner_addr,
      		  				s.parstemp_qrcodeimg, 
      		  				p.partner_ceoname,
      		  				p.partner_reginum, 
      		  				p.partner_comname, 
      		  				p.partner_tel
                  FROM parstemp s, partner p
                  WHERE s.partner_num = p.partner_num
                  <if test="partnerName != null">
                  	AND s.partner_name like '%'||#{partnerName}||'%'
            	  </if>
            	  <if test="partnernum != null">
            	  	AND p.partner_num = #{partnernum}
            	  </if>
                  ORDER BY s.parstemp_num desc) g)
        <where>
			<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
            <if test="parstempNum != null">
            	parstemp_num = #{parstempNum}
            </if>
        </where>
	</select>
	
	<insert id="insertstemp" parameterType="tm.admin.dto.AdminStempDTO">
		INSERT INTO parstemp(
		parstemp_num,
		partner_num,
		partner_name,
		partner_addr
  		)
		VALUES(
		#{parstempNum},
		#{partnerNum},
		#{partnerName},
		#{partnerAddr}
		)
	</insert>
	
	<update id="stempupdate" parameterType="tm.admin.dto.AdminStempDTO">
		UPDATE parstemp
		SET
		partner_num = #{partnerNum},
		partner_name = #{partnerName},
		partner_addr = #{partnerAddr}
		WHERE
		parstemp_num = #{parstempNum}
	</update>
	
	<update id="stempcreation" parameterType="hashMap">
		UPDATE parstemp
		SET
		parstemp_qrcodeimg = #{parstempQrcodeimg}
		WHERE
		parstemp_num = #{parstempNum}
	</update>
	
	<delete id="stempdelete" parameterType="hashMap">
		DELETE FROM parstemp
		WHERE parstemp_num = #{parstempNum}
	</delete>
	
	<delete id="stempdel" parameterType="hashMap">
		DELETE FROM stemp
		WHERE parstemp_num = #{parstempNum}
	</delete>
	
	
	<!-- partner -->
	
	<select id="allist" parameterType="hashMap" resultType="allianceDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT * 
            		FROM partner
            		WHERE partner_state = 20   
            		<if test="partnerComname != null">
						AND partner_comname like '%'||#{partnerComname}||'%'
					</if>
            		order by partner_num desc) g)
		<where>
			<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
		</where>
	</select>
	
	<select id="allistRec" parameterType="hashMap" resultType="allianceDTO">
		SELECT *
		FROM (SELECT rownum as rnum, g.*  
      		  FROM (SELECT * 
            		FROM partner
            		WHERE partner_state = 10
            		<if test="partnerComname != null">
						AND partner_comname like '%'||#{partnerComname}||'%'
					</if>
            		order by partner_num desc) g)
		<where>
			<if test="startnum != null">
				rnum <![CDATA[>=]]>  #{startnum} AND rnum <![CDATA[<=]]> #{endnum}
			</if>
		</where>
	</select>
	
	<select id="adnumber" resultType="String">
		SELECT seq_advertisement.nextval as num
		FROM dual 
	</select>
	
	<select id="stempnumber" resultType="String">
		SELECT seq_parstemp.nextval as num
		FROM dual 
	</select>
	
	<delete id="alliancedel" parameterType="hashMap">
		DELETE FROM partner
		WHERE partner_num=#{partnernum}
	</delete>
	
	<update id="allianceapproval" parameterType="hashMap">
		UPDATE partner
		SET partner_state = 20,
		partner_type = 10
		WHERE partner_num=#{partnernum}
	</update>
	
	<update id="typeupdate" parameterType="allianceDTO">
		UPDATE partner
		SET partner_type = #{partnerType}
		WHERE partner_num=#{partnerNum}
	</update>
	
</mapper>