<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="memberlist" parameterType="hashMap" resultType="adminMemberDTO">
		SELECT *
		FROM member
		<where>
			<if test="id != null">
				user_id = #{id}
			</if>
			<if test="sel != null">
				${sel} like '%'||#{con}||'%'
			</if>
		</where>
		ORDER BY user_type desc
	</select>
</mapper>