/* header CSS*/
	header{
	width : 100%;
	height : 136px;
	background-color:#2995F7;
	}
/* 	logo CSS */
	header div.header-logo{
	float: left; width: 10%;
	color : white;
	font-size: 42px;
	font-weight: bold;
	padding-top : 15px;
	padding-left: 22px;
	}
	header .logo{
		max-height: 60%;
		max-width: 60%;
	}
	header div .header-logo a{
	margin : 5%;
	}
	header div.header-logo .logo{
	width: 77%;
	height: 77%;
	}
/* navi CSS */
	header div.header-navi{
	float: left; width: 40%;
	padding-top : 3%;
	}
	header div.header-navi img{
	max-width : 26%;
	max-height: 26%;
	}
	header div.header-sub{
	float: left; width: 46%;
	}
	header div.header-serch{
	float: left; width: 56%;
	padding-top : 6%;
	}
	header div.header-login{
	float: left; width: 42%;
	padding-top : 6%;
	}
	header ul.search-bar li{
	 list-style:none;
	 display: inline;
	}
	header.button-search img{
	max-width: 25%;
	max-height: 25%;
	}
	header ul.navi-list li{
	 list-style:none;
	 display: inline;
	 margin : 0 1rem;
	}
	header ul.navi-list a{
	 text-decoration: none
	}
	header ul.login-list li{
	 list-style:none;
	 display: inline;
	}
	header ul.login-list img{
	max-width: 40%;
	max-height: 40%
	}
	header label{
	font-size: 4.2rem;
	}

   	
   	/*--search tf--*/
   	header input.search-form {
   	border: 1px solid #ffffff;
   	background: #ffffff;
   	border-radius: 7px;
   	color: #706670;
   	padding:2.3%;
   	width:65%;
   }