/* 메인 이미지 */
body #myCarousel{
	margin-bottom:3%;
}

/* 푸터 위치 조정 */
footer .foot_logo{
	float: right;
	margin-right:19%;	
}

footer .foot_content{
	
	float: left;
	margin-left: 21%;
}

/*도전일정 타이틀*/
.challengeTitle, .tourTop3{
	
	color:#000000;
	font-size: 1.7em
	
}
/*도전일정 더보기 버튼*/
.more{
	float: right;
	margin-top:40px;
}

.footer{
	
	height: 150px;
	background-color: #101010;
	padding: 0px;
	margin-top: -1.9em;
	bottom: 0px;
}

.logo{
	width: 60%;
	height: 60%;
}

.footer_content_span{
	font-size: 2em;
	color: #ffffff;
	font : bold;
	margin-bottom:10px;
}

.footer_content_a{
	font-size: 1em;
	color: #ffffff;
	
}
.m_imageBox{
	display: none;
	}
	
.headlogo{
	margin-left: 20%;
	padding-bottom: 4%;
}
.searchBox{
	margin-left: 33%;
	margin-top: -28%;
	padding-bottom: 10.5%;
	}
#simble{
	font-size: 3.4rem;
	font-family : 맑은고딕;
	font-weight : bold;
	margin-left : 2%;
	color: white;
	padding-bottom: 1%;
	padding-top : 1%;
	padding-left : 1%;
	padding-right : 1%;
	background-color: black;
    opacity: 0.76;
    border-radius: 8px;
}	
#search_bar{
	margin-left : 1.3%;
	width: 40%;
	
}	
#mobile_search{
	display: none;
}
.navbar-brand{
	font-family: 맑은고딕;
	font-weight: bold;
	font-size: 2em;
}
.navbar-right{
	font-family: 맑은고딕;
	font-weight: bold;
	font-size: 1.3em;
}
.page-header{
	font-weight: bold;
}

@media(max-width: 1280px){
	.searchBox{
	display: none;
	}
	.m_imageBox{
	display: block;
	}
	.imageBox{
	display: none;
	}
	#mobile_search{
	display: block;
	}
	.foot_content{
	float: left;
	margin-left: 10%;
	}
	
	.foot_logo{
	float: right;
	margin-right: 5%;
	
}

}