/*도전일정 타이틀*/
.challengeTitle, .tourTop3{
	
	color:#000000;
	font-size: 1.7em
	
}
/*도전일정 더보기 버튼*/
.more{
	float: right;
	margin-top:40px;
}

.footer{
	
	height: 180px;
	background-color: #101010;
	padding: -1.9rem;
 	margin-top: 50px;
	bottom: 0px;
}

.foot_logo{
	float: right;
	margin-right: 40%;	
}

.foot_content{
	
	float: left;
	margin-left: 40%;
	}

.logo{
	width: 60%;
	height: 60%;
}

.footer_content_span{
	
	font-size: 2em;
	color: #ffffff;
	font : bold;

}

.footer_content_a{
	font-size: 1em;
	color: #ffffff;
	
}

/* 검색창 div */
.searchBox{
	margin-top : -30%;
	padding-bottom : 12%;
	margin-left: 30%;
	}
/*검색 창*/	
#search_bar{
 	width: 50%; 
	}
.headlogo{
	margin-left: 20%;
	width : 100%;
	height : 100%;
	padding-bottom: 5%;
	}
#simble{
	color: white;
	font-size: 3.8rem;
	}
#mobile_search{
	display:none;	
}
.m_imageBox{
	display:none;
}	
	

@media(max-width:1280px){
	.searchBox{
	display:none;
	}
	.imageBox{
	display:none;
	}
	.m_imageBox{
	display:block;	
	}		
	#mobile_search{
	display:block;	
	}	
		
	.foot_content{
	float: left;
	margin-left: 10%;
	}
	
	.foot_logo{
	float: right;
	margin-right: 5%;
	
}

}