@CHARSET "UTF-8";
/* 탑 스크롤버튼 */


/* top3 라벨*/
.container .topthreelb{
	text-align:center;
	margin-letf:10px;
}

.container .hiddenbr h2{
	color:white;
	
}

body .container ul li a{
	font-size:18px;
	font-weight:600;
}

/* 헤더에 있는 다음 버튼 */
#nextbtn{
	padding-bottom:2px;
	margin-top:7px;
	margin-left:10%;
	width:70px;
	height:30px;
	font-size:15px;
	font-family: 'Nanum Gothic';
	color:white;
	font-weight:600;
	background-color:#2995F7;
	border:2px solid #2995F7;
	border-radius:7px;
}

/* 헤더와 탭 사이 공간*/
.container{
	margin-top:10px;
}