@CHARSET "UTF-8";
/* 헤더와 top3 글자 사이 간격*/
body #secondcontainer{
	margin-top:60px;
}

/* top3 라벨*/
#secondcontainer .topthreeloc .topthreelb{
	text-align:center;
	margin-letf:10px;
}

/* top3 공간*/

.container .topthreeloc{
	
}

/* 인기순 관심순 탭 및 하위 공간*/

/* top3 글 과 인기/관심순 탭 사이 공간 만들기*/
#thirdcontainer{
	margin-top:30px;
}

/* 인기/관심순 탭과 하위 게시글 사이 공간 만들기*/
#thirdcontainer ul{
	margin-bottom:20px;
}


