@CHARSET "UTF-8";
/* 헤더와 top3 글자 사이 간격*/
body #secondcontainer{
	margin-top:10px;
}

/* top3 라벨*/
#secondcontainer .topthreeloc .topthreelb{
	text-align:center;
	margin-letf:10px;
	margin-top:10px;
	margin-bottom:20px;
}

/* top3 공간*/

.container .topthreeloc{
	
}

/* 인기순 관심순 탭 및 하위 공간*/

/* top3 글 과 인기/관심순 탭 사이 공간 만들기*/
#thirdcontainer{
	margin-top:30px;
}

/* 인기/관심순 탭과 하위 게시글 사이 공간 만들기*/
#thirdcontainer ul{
	margin-bottom:20px;
}

/* 인기 /관심순 탭 크기*/
#thirdcontainer ul li{
	width:120px;
	text-align:center;
	
}
/* 인기/관심순 탭 글씨*/
#thirdcontainer ul li{
	font-size:20px;
	font-family:맑은고딕;
	font-weight:600;
}

#NonuUserId{
	background-color: #efefef;
}
#NonuUserId h1{
	border: 3px;
	background-color: #efefef;
	font-family: 타이포_쌍문동;	
}

#NonuUserId h3{
	border: 3px;
	background-color: #efefef;
	font-family: 맑은고딕;	
}

.glyphicon-remove{
	
	
	color: #f00;
}
/* 헤더에 있는 다음 버튼 */
/* #nextbtn{ */
/* 	padding-bottom:2px; */
/* 	margin-top:7px; */
/* 	margin-left:10%; */
/* 	width:70px; */
/* 	height:30px; */
/* 	font-size:15px; */
/* 	font-family: 'Nanum Gothic'; */
/* 	color:white; */
/* 	font-weight:600; */
/* 	background-color:#2995F7; */
/* 	border:2px solid #2995F7; */
/* 	border-radius:7px; */
/* } */

