@CHARSET "UTF-8";

div.header {
	height: 85px;
	background-color: #2995F7;
}

div.header .MainName {
	float: left;
	margin-left: 5%;
	margin-top: 10px;
	color: white;
	font-size: 25px;
}

div.header .Menu {
	float: right;
	margin-right: 0%;
	margin-top: 16px;
}

div.header .subMenu {
	float: left;
	margin-right: 30%;
	margin-top: 16px;
}

div.header .Menu ul li {
	display: inline;
	padding: 0 20px;
	color : white;
	font-family: "헤드라인";
	font-weight: bold;
}

div.header .subMenu ul li {
	display: inline;
	padding: 0 20px;
	color : white;
	font-family: "헤드라인";
	font-weight: bold;
}

div.header .Menu ul li a{
	color : white;
	text-decoration: none;
}

div.header .subMenu ul li a{
	color : white;
	text-decoration: none;
}

div.header .Menu ul li a:hover{
	border-bottom : solid 2px white;
	color: white;
}

div.header .subMenu ul li a:hover{
	border-bottom : solid 2px white;
	color: white;
}
div.header .Menu ul li:hover{
	color: white;
}

div.header .subMenu ul li:hover{
	color: white;
}

div.header .Menu ul li:hover ul{
	display: block;
}

div.header .subMenu ul li:hover ul{
	display: block;
}

div.header .Menu ul ul{
	padding-left : 10px;
	padding-top : 2px;
	position:absolute;
	background-color: #242424;
	height:30px;
	display: none;
}

div.header .subMenu ul ul{
	padding-left : 10px;
	padding-top : 2px;
	position:absolute;
	background-color: #242424;
	height:30px;
	display: none;
}
